.menu-list {
  background-color: none;
  border: none;
  color: rgb(255, 255, 255);
  text-decoration: none;
  width: 100%;
}

.menu-list li {
  background-color: none;
  font-weight: 500;
  margin: 5px 15px 5px 5px;
}

.menu-link {
  text-decoration: none;
}

.menu-link:hover {
  background-color: rgba(216, 216, 216, 0.164);
  text-decoration-color: white;
}